<body class="bg-light">

  <div class="container d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-md-4">
      <div class="card shadow-lg p-4">
        <h3 class="text-center mb-4">Login</h3>

        <% if (errors && errors.length> 0) { %>
          <% errors.forEach(function(error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% }) %>
              <% } %>

                <form action="/login" method="POST">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                  </div>
                  <hr>
                  <div class="text-center">
                    <p>Don't have an account? <a href="signup" class="text-decoration-none">Create an account</a>
                    </p>
                  </div>
                </form>
      </div>
    </div>
  </div>
</body>